{% extends "app/base_page.html" %}
{% load static %}
{% block title %}Insurance - Family First Insurance{% endblock %}
{% block content %}

  <div class="hero-content">
    <img class=" reveal reveal--hero hero-logo" src="{% static 'images/logo.png' %}" alt="Family First Insurance" loading="eager" decoding="async" />
    <h1 class="reveal reveal--hero" data-anim="down" data-duration="2500">Who We Are</h1>
    <p class="reveal" data-anim="down" data-delay="140" data-duration="2300">
      Meet our leadership, advisors and operations team at Family First Insurance who are here to provide the expert advice you need to secure your future.
    </p>
    <div class="hero-cta">
      <a href="/contact-us/" class="btn-hero reveal reveal--fade"
        data-duration="3000" aria-label="Contact us now">
        REACH OUT TO SPEAK TO AN ADVISOR
      </a>
    </div>
  </div>

  <section class="after-hero-bg">
    <div class="after-hero-surface">

      <section class="ins-intro reveal" data-anim="up" data-duration="900" aria-label="Life insurance intro">
        <div class="ins-intro__wrap">
          <div class="ins-intro__copy">
            <p>
                Our team works continuously to ensure that every client receives personalized care and expert guidance.
            </p>
          </div>

          <div class="ins-intro__rule" aria-hidden="true"></div>

          <h2 class="ins-intro__headline">
            <span class="u-underline">Meet The Team</span>
          </h2>
        </div>
      </section>
      <!-- ========== Detailed sections (split layout) ========== -->
      <section id="whole-life reveal" data-anim="up" data-duration="900" class="feature-split ins-split">
        <div class="fs-wrap">
          <article class="fs-row">
            <div class="fs-card fs-card--profile">
              <h3 class="fs-title">Peter Rizkalla</h3>
              <h3 class="fs-sub-title">President | Advisor</h3>
              <p class="fs-body">
                Peter Rizkalla, President and Advisor at our firm, is committed to helping clients build and protect their financial future with confidence and clarity. A graduate of the University of Ottawa, Peter partners with individuals, families, and business owners to create personalized strategies that reflect their goals, values, and long-term vision.
                His approach is grounded in education, transparency, and strong, lasting relationships in order to ensure every recommendation is thoughtful and aligned with what matters most to his clients.
                Outside of work, Peter enjoys playing soccer, bringing the same focus, teamwork, and drive to the field that he applies to every client relationship.
              </p>
            </div>
            <div class="wl-photos">
                <figure class="wl-photo wl-photo--k">
                  <img src="{% static 'images/peter-portrait.jpg' %}" alt="Family moment">
                </figure>
            </div>
          </article>
        </div>
      </section>

      <section id="whole-life"  data-anim="up" data-duration="900" class="feature-split ins-split">
        <div class="fs-wrap">
          <article class="fs-row">
            <div class="fs-card fs-card--profile">
              <h3 class="fs-title">Jessica O'Brian</h3>
              <h3 class="fs-sub-title">Assistant</h3>
              <p class="fs-body">
                Jessica O’Brian serves as the Administrative Assistant at Family First Insurance, she plays a key role in ensuring the smooth and efficient operation of the office. She provides vital support to the team through scheduling, documentation management, and overall administrative coordination. Known for her organization, reliability, and attention to detail, Jessica helps maintain seamless workflows and contributes significantly to the firm’s professional service standards.
              </p>
            </div>
          </article>
        </div>
      </section>

      <!-- ========== CTA ========== -->
      <section class="ins-cta reveal" data-anim="up" data-duration="900">
        <div class="ins-cta__wrap">
          <h3 class="ins-cta__title">Have questions for our team?</h3>
          <a href="/contact-us/" class="btn-outline">Speak to an advisor</a>
        </div>
      </section>

    </div>
  </section>

{% endblock %}